@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); // console header 

.console-container {
    margin-top: 60px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
     
    h2 {
        letter-spacing: 4px;
    }

    .player-moving {
        margin: 30px;
    }

    .wrongField {
        margin-top: 20px;
    }
}