@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.winner-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 0px;
    font-family: 'Press Start 2P', cursive;
    transition: 1s all;
}